
if SHIELD_rickballv4_RIGHT

config ZMK_KEYBOARD_NAME
    default "rickballv4"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_rickballv4_RIGHT

if SHIELD_rickballv4_LEFT || SHIELD_rickballv4_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_rickballv4_LEFT || SHIELD_rickballv4_RIGHT
