
if SHIELD_rickballv6_RIGHT

config ZMK_KEYBOARD_NAME
    default "rickballv6"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_rickballv6_RIGHT

if SHIELD_rickballv6_LEFT || SHIELD_rickballv6_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_rickballv6_LEFT || SHIELD_rickballv6_RIGHT
